@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: rgb(242, 241, 241);
  font-family: 'Roboto', sans-serif;
}


.my-box-shodow{
  -webkit-box-shadow: 0px 0px 80px 33px rgba(23, 100, 159, 0.72) inset;
  -moz-box-shadow: 0px 0px 80px 33px rgba(23, 100, 159, 0.72) inset;
  box-shadow: 0px 0px 80px 33px rgba(23, 100, 159, 0.72) inset;
}
.black-box-shadow{
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.29);
-moz-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.29);
box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.29);
}

.border-news-mapped{
  border-bottom: dashed 1px black;
  padding-bottom: 10px;
}
.slider-btn{
  /* border: 1px solid gray; */
}


 *::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
} 